body {
    background-image: url("../img/background.jpg");
}

.cntr {
    text-align: center;
}

.container {
    margin: 30px auto;
    width: 20%;
    height: 8%;
}

.logo {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.divStyle {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divStyleTable {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.skills_box {
    min-width: 25%;
}

.margin_box {
    padding-right: 50px;
    padding-left: 50px;
}

.button_img {
    margin-top: 30px;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 20px;
    border: 1px solid;
    outline: 0;
    padding: 0 10px;
    background-color: #123350;
    color: #ffffff ;
    cursor: pointer;
    font-weight: 100;
}

.button_img:hover {
    opacity: 0.7;
}

.go3450369076 {
    border: 0;
    outline: 0;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}

.go309598777 {
    align-items: center;
    border: 1px solid var(--rti-border);
    border-radius: var(--rti-radius);
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4;
    padding: var(--rti-s);
}